h1{
    text-align: center;
    font-size: xxx-large;
    color: #ffffff;
    text-shadow: 10px 10px black;

}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}


input[type=submit] {
    width: 30%;
    background-color: gold;
    color: #6c6c6c;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 4px;
    cursor: pointer;
    border: black 1px solid;
    height: 30px;
}

input[type=submit]:hover {
    background-color: #ffc330;
}
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
label{
    font-size: 25px;
}
#id {
    width: 40%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 5px 10px black;
}
#pizzaLista{
    margin:0 auto;
    background-color: black;
    border-radius: 15px;
    color: white;
    text-align: center;
    border: white 1px solid;
    max-width: 50%;
}
table{
    margin: 0 auto;
    min-width: 90%;
}
tr{
    border: white 1px solid;
    width: 50%;

}
td{
    border: white 1px solid;
    width: 50%;
    padding: 8px;
}
.idBalra{
    text-align: left;
}
.elsoTd{
    padding-left: 5%;
    text-align: left;
}
@media (max-width: 750px) {
    #pizzaLista{
        min-width: 90%;
    }
    #id{
        min-width: 90%;
    }
}