h1{
    width: 100%;
}
#etlap{
    vertical-align: center;
    margin: 0 auto;
}
/*
#hatter{
   width: 100%;
    height: 95%;
   position: absolute;
    z-index: -1;
}


 */


#leiras{
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    border: 3px solid;
    float: left;
    max-width: 68%;

}
#leiras2{
    text-align: center;
    margin: 0 auto;
    padding: 3%;
    font-size: 20px;
    color: #ff8001 ;
    max-width: 70%;
    text-shadow: 0 0 1px rgba(255, 0, 0, 0.54), 0 0 1px #000000;

}
h2{
    font-weight: bolder;
}
p .szoveg{
    padding-top: 3px;
}

#nyitvatartas{
    margin: 0 3%;
    background-color: white;
    border-radius: 15px;
    border: 3px solid;
    width: 23%;
    text-align: center;
    float: right;
    position: fixed;
    left: 70%;

}
table{
    margin:0 auto;
    padding-bottom: 5px ;
}
th{
    float: left;
}
td{
    padding-left: 10px;
}
/*
#leiras2{
    max-width: 95%;
    color: #0076fd;
    box-sizing: border-box;
    text-align: center;
    padding: 9%;
    font-size: 30px;
    text-shadow: 0 0 4px #FF0000, 0 0 5px black;

}
 */
h1{
    width: 100%;
}
.container{
    margin: 0 auto;
    text-align: center;
    background-color: white;
    max-width: 68%;
    border: black 2px solid;
    border-radius: 15px;
    clear: both;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: center;
}
.cards{
    width: 33%;
    margin: 0 auto 15px auto;
    box-sizing: border-box;
    height: 430px;
    position: relative;

}
.ar:after{
    content: " Ft";
}
.card_img{
    width: 200px;
    border-radius: 15px;
    border: gray 1px solid;
    margin-bottom: 5px;
}
.text {
    margin: 0 auto;
    text-align: center;
    padding: 0px;
    align-items: center;
    width: 80%;
    height: 57px;
}
.ar{
    margin: 10px auto;
}
.ar:after{
    content: " Ft";
}
.btn {
    margin: 0;
    text-align: center;
    background-color: #ff8001;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    min-height: 2rem;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    box-sizing: border-box;
    border: 1px solid transparent;
    width: auto;
    justify-content: center;
    vertical-align: center;
    border-radius: .25rem;

}

.btn:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn:hover {
    transform: translateY(-3px);

}

.btn:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

h1{
    color: #ff8001;
    font-size: 40px;
}
h2{
    color: #8a2806;
    font-size: 20px;
}
@media (min-width: 1060px) {
    .cards{
        width: 33%;
    }
}
@media (min-width: 700px) and (max-width: 1060px) {
    .cards{
        width: 50%;
    }
}
@media (max-width: 700px) {
    .cards {
        width: 100%;
    }
}
@media (max-width: 750px) {
    #nyitvatartas {
        position: relative;
        left: 2%;
        width: 95%;
        margin: 10px auto 20px auto;
        text-align: center;
        float: left;
        clear: both;
    }
    .container{
        clear: both;
        position: relative;
        min-width: 95%;

    }
    #leiras{
        min-width: 95%;
    }
}
@media (min-width: 0px) and (max-width: 330px) {
    .card img{
        width: 70%;
    }
    .cards{
        height: 120%;
    }
    .text{
        padding: 15px;
    }
    #kosar table{
        min-width: 90%;
    }
    #kosar th{
        width: 20%;
        font-size: 1px;
    }

}
