#kapcsolat{
    max-width:55%;
    min-width:60%;
    margin:0 auto;
    background-color: black;
    border-radius: 15px;
    color: white;
    text-align: center;
    border: white 1px solid;



}
.tm{
    width: 150px;

}
.icons{
    width: 30px;

}
.elemek{
    margin: 0 auto;
    width: 180px;
    text-align: center;
}
.elemek h2{
    margin: 0 auto;
}
.elemek img{
    float: left;
}
h1{
    padding-bottom: 20px;
}
.elemek p{
    padding-bottom: 10px;

}
@media screen and (max-width: 750px){
    .tm{
        width: 30px;
    }
    .elemek p{
        font-size: 10px;
    }
    .elemek h2{
        font-size: 15px;

    }
    #kapcsolat h1{
        font-size: 20px;
    }
    .icons{
        width: 15px;
        margin-left: 5px;
    }
    #kapcsolat{
        max-width: 100%;
        width: 100%;
    }
}
