body{
    background-image: url("/kepek/hatter.jpg");
    background-repeat: repeat;
    margin: 0 ;
    background-color: #ff0000;
}
main{
    margin: 0 40px;
}
nav {
    background-color: #ff8001;
    overflow:hidden;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-bottom-style: solid;
    z-index: 1;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
nav a{

    color: black;
    text-decoration: none;
}
nav a:hover{
    border-top:none;
    border-bottom: none;
    background-color: #d36e00;
    border-left-style: solid;
    border-right-style: solid;
}


li{
    display:inline;
    font-size: 32px;
    padding: 10px;

}
#logo {
    float:left;
    width: 35px;
}
footer{
    background-color: black;
    color: bisque;
    position: relative;
        margin-top: 50px;
        width: 100%;
        height: 10rem;


}
/*
@media (max-width: 800px) {
    .footerList {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerElement {
        padding: 10px 0;
    }
}
*/
footer a{

    color: darkgoldenrod;
    font-size: 20px;
}

footer p{

    text-align: center;
}

.footerList{
    padding:0;
    text-align:center;
    list-style:none;
    font-size:18px;
}

.footerElement{
    padding: 0 15px;
}